  <ul class="nav nav-pills pull-right" bs-navbar>
    <li data-match-route="/main"><a ng-href="#">Home</a></li>
    <li data-match-route="/defensive-building"><a ng-href="#/defensive-building">Defensive Building</a></li>
    <li ng-show="profile.user"><a href="#" ng-click="logout()" ng-controller="LoginCtrl">Log Out</a></li>
    <li data-match-route="/login" ng-hide="profile.user"><a href="#/login">Log In</a></li>
  </ul>
  <span ng-show="profile.user">
    <span class="pull-left cover">
      <div class="circle" style="background-image: url('{{profile.userPhoto}}')"></div>
      <!-- <div class="circle" style="background-image: url('images/cover.jpg')"></div> -->
    </span>
    <h4 class="top-name">{{profile.user.name}}</h4>
  </span>
  <h3 ng-hide="profile.user" class="text-muted">Clasher</h3>
